<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flower Shop Demo App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CpmDemoApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        Blossom Flower Studio
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="@Url.Action("NewIncomingMessages", "Home")">
                            New Messages 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "ConversationManagement")">
                            Admin: List All Conversations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "EmployeePortal")">
                            Agent: List My Conversations
                        </a>
                    </li>
                </ul>
            </nav>
            <main role="main" class="col-md-9 email-list">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Flower Shop Demo App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
